

.modal-content {
    width: 60%; /* Ajuste o valor conforme necessário */
    max-width: 500px; /* Ajuste o valor conforme necessário */
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width: 768px) {
    .modal-content {
      width: 90%; /* Ajuste o valor conforme necessário */
    }
  }